header{
    width: 80%;
    margin: auto;    
    & h1{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.buttonConnection{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.lienHeader{
    padding: 10px;
}

h1{
    font-size: 30pt;
    font-weight: bold;
}

.buttonHome{
    font-size: 2em;
    color: black;
    text-decoration: none;
}

.buttonHeader{
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    padding-left: 2%;
    padding-right: 2%;
}

h2{
    font-size: 25pt;
    font-weight: bold;
    padding-top: 20px;
}

.main_container{
    width: 80%;
    margin: auto;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%; 
    border: 1px solid black;
    border-radius: 5px;
    background-color: lighten(aquamarine,20%);
}

#presentation{
    margin-top: 20px;
}