<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{base_url()}}/web/css/general.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>Appels d'offres</title>
  </head>

  <body>
  <header>
    <div class="buttonConnection">
      <div class="lienHeader">Se connecter</div>
      <div class="lienHeader">S'inscrire</div>
    </div>

    <h1>Site d'appels d'offres</h1>

    <a class="buttonHome fas fa-home" href="{{base_url()}}/"></a>
    <a class="buttonHeader" href="{{base_url()}}/ListeAppelsOffres">Consulter appels d'offres</a>
  </header>